@page
@addTagHelper*, Microsft.AspNetCore.Mvc.TagHelpers
@model Registration
@{
    ViewData["Title"] = "Registration";
}
<html>
    <head>
        <title>c# tutorial</title>
        <link rel="stylesheet" href="~/css/Style.css" />
        <script type="text/javascript">
            const Serach_Menu = () =>{
                let filter = document.getElementById('Search').value.toUpperCase();
                let ul = document.getElementById('Search_ul');
                let li = ul.getElementsByTagName('li');
                for(var i=0;i<li.length;i++)
                {
                    let a = li[i].getElementsByTagName('a')[0];
                    let txtvalue = a.textContent || a.innerHTML;
                    if(txtvalue.toUpperCase().indexOf(filter) > -1)
                    {
                        li[i].style.display = '';
                    }
                    else
                    {
                        li[i].style.display = 'none';
                    }
                }
            }
            function val()
            {
                var nm=/^[A-Za-z]+$/;
                var fnm=document.registration.FirstName.value;
                if(nm.test(fnm))
                {
                    alert("Name Must Be Charactrers");
                    return false;
                }
                
            }
        </script>
    </head>
    <body>
        <div class="Sidebar">
            <div class="Search">
            <input type="text" class="SearchBar"placeholder="Type Here For Search" id="Search" onkeyup="Serach_Menu()">
            </div>
            <div class="side_Scroll">
            <ul id="Search_ul">
                <li><a  href="~/Tutorial/Introduction"><i></i>Introduction</a></li>
                <li><a  href="~/Tutorial/Top_Level_Stat"><i></i>Top&nbsp;Level&nbsp;Statement</a></li>
                <li><a  href="~/Tutorial/Namespaces">Namespaces</a></li>
                <li><a  href="~/Tutorial/Classes">Classes</a></li>
                <li><a  href="~/Tutorial/Records"><i>Records</a></li>
                <li><a  href="~/Tutorial/Interfaces">Interfaces</a></li>
                <li><a  href="~/Tutorial/Generic">Generic</a></li>
                <li><a  href="~/Tutorial/Anonymous">Anonymous</a></li>
                <li><a  href="~/Tutorial/Class_Struct_Record">Classes&nbsp;Structs&nbsp;Records</a></li>
                <li><a  href="~/Tutorial/Objects">Objects</a></li>
                <li><a  href="~/Tutorial/Inheritance">Inheritance</a></li>
                <li><a  href="~/Tutorial/Polymorphism">Polymorphism</a></li>
                <li><a  href="~/Tutorial/Pattern_Matching">Pattern Matching</a></li>
                <li><a  href="~/Tutorial/Discards">Discards</a></li>
                <li><a  href="~/Tutorial/Exception_Over">Exception Overview</a></li>
                <li><a  href="~/Tutorial/Exception_Use">Use Exception</a></li>
                 <li><a  href="~/Tutorial/Exception_Create_Throw">Creating&nbsp;&&nbsp;Throwing&nbsp;Exception</a></li>
                <li><a  href="~/Tutorial/Exception_Compiler">Compiler&nbsp;generated&nbsp;Exceptions</a></li><br>
            </ul>
            </div>
        </div>
        <div class="Content">
     
            <form id="login"  class="registration_table" method="post" name="registration" onSubmit="return val();">   
                 <table>  
                <h1><center><b>Registration</b></center></h1>
                <tr>
                    <td><label><b>First Name</b></label></td>
                    <td><input type="text" name="FirstName" id="txtbox"></td>
                </tr>
                <tr>
                    <td><label><b>Last Name</b></label ></td>     
                    <td><input type="text" name="LastName" id="txtbox"></td>
                </tr>  
                <tr> 
                    <td><label><b>User Name</b></label></td>    
                    <td><input type="text" name="UserName" id="txtbox" ></td>
                </tr>
                <tr>
                    <td><label><b>Password</b></label></td>  
                    <td><input type="Password" name="Password" id="txtbox" ></td>  
                </tr><br>
                <tr> 
                    <td><label><b>Confirm Password&nbsp;</b></label>  </td>
                    <td><input type="Password" name="Cpass" id="txtbox" > </td>
                </tr>
                <tr>    
                    <td><label><b>Email</b></label></td>  
                   <td> <input type="text" name="Email" id="txtbox" >  </td>
                </tr>
                <tr>     
                    <td><label><b>Address</b></label></td>
                    <td><textarea name="Address" id="txtbox" ></textarea> </td> 
                </tr><tr></tr>
                <tr><td colspan="2" align="center">
                    <input type="submit" name="sub" id="button" value="Submit" asp-page-handler="Submit">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="reset" name="res" id="button" value="Reset"> </td>
                </tr>
                </table>
                <br>
               <center><tr><td colspan="2" align="center"><a href="~/Tutorial/Login">Sign In</a></center></td></tr></center>
            </form>
    </div>
    </body>
</html>

